{% extends "NovosgaSettingsBundle::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>
                <i class="fa fa-wrench" aria-hidden="true"></i>
                {% trans %}Configurações{% endtrans %}
                <small>
                    {% trans %}Configurações da unidade{% endtrans %}
                </small>
            </h1>
        </div>
    </div>
    
    <hr>
        
    <div id="settings">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab-servicos" data-toggle="tab">
                    {% trans %}Serviços{% endtrans %}
                </a>
            </li>
            <li>
                <a href="#tab-triagem" data-toggle="tab">
                    {% trans %}Triagem{% endtrans %}
                </a>
            </li>
            <li>
                <a href="#tab-atendimento" data-toggle="tab">
                    {% trans %}Atendimento{% endtrans %}
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-servicos" class="tab-pane active">
                <table class="table" id="servicos">
                    <thead>
                        <tr>
                            <th class="col-md-1">
                                {% trans %}Sigla{% endtrans %}
                            </th>
                            <th>
                                {% trans %}Serviço{% endtrans %}
                            </th>
                            <th class="col-md-2">
                                {% trans %}Local{% endtrans %}
                            </th>
                            <th class="col-md-1">
                                {% trans %}Situação{% endtrans %}
                            </th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="su in servicos">
                            <td class="sigla">
                                {{ form_row(inlineForm.sigla, { label: false, attr: { 'v-model': 'su.sigla', 'v-on:input': 'uppercase(su)', 'v-on:blur': 'updateServico(su)', 'v-bind:disabled': '!su.ativo' } }) }}
                            </td>
                            <td class="nome">
                                {% verbatim %}
                                    {{su.servico.nome}}
                                {% endverbatim %}
                            </td>
                            <td class="local">
                                {{ form_row(inlineForm.local, { label: false, attr: { 'v-model': 'su.local', 'v-on:change': 'updateServico(su)', 'v-bind:disabled': '!su.ativo' } }) }}
                            </td>
                            <td class="checkboxes">
                                {{ form_widget(inlineForm.ativo, { label: false, attr: { 'v-model': 'su.ativo', 'v-on:change': 'updateServico(su)',  'v-bs-switch': '1' } }) }}
                            </td>
                            <td>
                                <button type="button" class="btn btn-default" v-on:click="showModal(su)" v-bind:disabled="!su.ativo">
                                    <i class="fa fa-cog"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="tab-triagem" class="tab-pane">
                <div class="col-md-7">
                    <fieldset>
                        <legend>{% trans %}Impressão{% endtrans %}</legend>
                        {{ form_start(impressaoForm, { attr: { 'v-on:submit.prevent': 'updateImpressao' } }) }}
                            <div class="row">
                                <div class="col-md-7">
                                    {{ form_row(impressaoForm.cabecalho, { label: 'Cabeçalho', attr: { 'v-model': 'impressao.cabecalho' } }) }}

                                    {{ form_row(impressaoForm.rodape, { label: 'Rodapé', attr: { 'v-model': 'impressao.rodape' } }) }}

                                </div>
                                <div class="col-md-5">
                                    <h4>
                                        {% trans %}Exibir{% endtrans %}
                                    </h4>

                                    {{ form_row(impressaoForm.exibirData, { label: 'Data', attr: { 'v-model': 'impressao.exibirData' } }) }}

                                    {{ form_row(impressaoForm.exibirPrioridade, { label: 'Prioridade', attr: { 'v-model': 'impressao.exibirPrioridade' } }) }}

                                    {{ form_row(impressaoForm.exibirNomeUnidade, { label: 'Nome da unidade', attr: { 'v-model': 'impressao.exibirNomeUnidade' } }) }}

                                    {{ form_row(impressaoForm.exibirNomeServico, { label: 'Nome do serviço', attr: { 'v-model': 'impressao.exibirNomeServico' } }) }}

                                    {{ form_row(impressaoForm.exibirMensagemServico, { label: 'Mensagem do serviço', attr: { 'v-model': 'impressao.exibirMensagemServico' } }) }}
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                                {% trans %}Salvar configuração de impressão{% endtrans %}
                            </button>

                        {{ form_end(impressaoForm) }}
                    </fieldset>
                </div>
                <div class="col-md-5">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            {% trans %}Zona de perigo{% endtrans %}
                        </div>
                        <div class="panel-body">
                            <table class="table" id="servicos">
                                <thead>
                                    <tr>
                                        <th>
                                            {% trans %}Serviço{% endtrans %}
                                        </th>
                                        <th class="col-md-2">
                                            {% trans %}Número atual{% endtrans %}
                                        </th>
                                        <th class="col-md-1"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="su in servicos">
                                        <td class="nome">
                                            {%- verbatim -%}
                                                {{su.sigla}} - {{su.servico.nome}}
                                            {%- endverbatim -%}
                                        </td>
                                        <td class="col-sm-3">
                                            <input type="text" class="form-control" disabled
                                                   v-bind:value="contadores[su.servico.id]">
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-default" title="{% trans %}Reiniciar contagem do serviço{% endtrans %}" 
                                                    v-on:click="reiniciarContator(su.servico.id)">
                                                <i class="fa fa-refresh"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                                                    
                            <hr>
                            
                            <div class="row">
                                <div class="col-xs-4">
                                    <button class="btn btn-danger" v-on:click="reiniciarSenhas">
                                        <i class="fa fa-warning"></i>
                                        {% trans %}Reiniciar todas senhas{% endtrans %}
                                    </button>
                                </div>
                                <div class="col-xs-8">
                                    <div class="help-block" style="margin-top:0">Move todos os atendimentos para o histórico e reinicia a contagem de todos serviços.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-atendimento" class="tab-pane">
                <div class="row">
                    <div class="col-md-4 col-sm-6" v-for="usuario in usuarios">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {% verbatim %}
                                    {{ usuario.nome }} ({{ usuario.login }})
                                {% endverbatim %}
                            </div>
                            <div class="panel-body">
                                <table class="table" v-if="usuario.servicos.length">
                                    <thead>
                                        <tr>
                                            <th>
                                                {% trans %}Serviços{% endtrans %}
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="su in usuario.servicos">
                                            <td>
                                                {% verbatim %}
                                                    {{ su.sigla }} - {{ su.servico.nome }}
                                                {% endverbatim %}
                                            </td> 
                                            <td class="col-sm-1">
                                                <button type="button" class="btn btn-danger" v-on:click="removeServicoUsuario(usuario, su)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td> 
                                        </tr>
                                    </tbody>
                                </table>
                                <p v-else class="text-muted">
                                    {% trans %}Nenhum serviço{% endtrans %}
                                </p>
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                    <select class="form-control" v-model="servicoUsuario[usuario.id]">
                                        <option v-for="su in availableServices[usuario.id]" v-bind:value="su">
                                            {% verbatim %}
                                                {{ su.sigla }} - {{ su.servico.nome }}
                                            {% endverbatim %}
                                        </option>
                                    </select>
                                    
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" type="button" v-on:click="addServicoUsuario(usuario)">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="dialog-servico" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    {{ form_start(form, { attr: { 'v-on:submit.prevent': 'updateServicoFromModal' } }) }}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{% trans %}Serviço{% endtrans %}</h4>
                        </div>
                        <div class="modal-body" v-if="servicoUnidade">
                            <div class="row">
                                <div class="col-sm-8">
                                    <fieldset>
                                        <legend>{% trans %}Triagem{% endtrans %}</legend>

                                        <div class="row">
                                            <div class="col-xs-6">
                                                {{ form_row(form.sigla, { attr: { 'v-model': 'servicoUnidade.sigla', 'v-on:input': 'uppercase(servicoUnidade)' } }) }}
                                                
                                                {{ form_row(form.local, { attr: { 'v-model': 'servicoUnidade.local' } }) }}
                                                
                                                {{ form_row(form.peso, { attr: { 'v-model': 'servicoUnidade.peso' } }) }}
                                                
                                                {{ form_row(form.ativo, { label: 'Ativo'|trans, attr: { 'v-model': 'servicoUnidade.ativo' } }) }}

                                                {{ form_row(form.prioridade, { label: 'Permitir prioridade'|trans, attr: { 'v-model': 'servicoUnidade.prioridade' } }) }}
                                            </div>
                                            <div class="col-xs-6">
                                                {{ form_row(form.mensagem, { attr: { 'v-model': 'servicoUnidade.mensagem', rows: 12 } }) }}
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-sm-4">
                                    <fieldset>
                                        <legend>{% trans %}Contador{% endtrans %}</legend>

                                        {{ form_row(form.numeroInicial, { attr: { 'v-model': 'servicoUnidade.numeroInicial' } }) }}
                                        
                                        {{ form_row(form.numeroFinal, { attr: { 'v-model': 'servicoUnidade.numeroFinal' } }) }}
                                        
                                        {{ form_row(form.incremento, { attr: { 'v-model': 'servicoUnidade.incremento' } }) }}
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                                {% trans %}Salvar{% endtrans %}
                            </button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        {# reiniciar #}
        <div id="dialog-reiniciar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans %}Configuração{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{% trans %}Senhas reiniciadas com sucesso{% endtrans %}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Fechar{% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/novosgasettings/css/bootstrap-switch.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/novosgasettings/css/style.css') }}">
{% endblock %}    

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/novosgasettings/js/bootstrap-switch.min.js') }}"></script>
    <script>
        var locais = {{ locais|json_encode()|raw }},
            usuarios = {{ usuarios|json_encode()|raw }},
            impressao = {{ unidade.impressao|json_encode()|raw }},
            desejaReiniciarSenhas = '{% trans %}Deseja realmente reiniciar as senhas?{% endtrans %}';
    </script>
    <script type="text/javascript" src="{{ asset('bundles/novosgasettings/js/script.js') }}"></script>
{% endblock %}